<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<p th:if="${mess != null}" th:text="${mess}"></p>
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form th:action="@{/save}" method="post"  th:object="${accounts}">
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="txt" placeholder="User name" required=""  th:field="*{nameAccounts}" >
            <span class="span-validate" th:if="${#fields.hasErrors('nameAccounts')}" th:errors="*{nameAccounts}"></span>
            <input type="email" name="email" placeholder="Email" required="" th:field="*{emailAccounts}">
            <span class="span-validate" th:if="${#fields.hasErrors('emailAccounts')}" th:errors="*{emailAccounts}"></span>
            <input type="password" name="pswd" placeholder="Password" required="" th:field="*{passWordAccounts}" >
            <span class="span-validate" th:if="${#fields.hasErrors('passWordAccounts')}" th:errors="*{passWordAccounts}"></span>
            <button type="submit">Sign up</button>
        </form>
    </div>

<!--    <div class="login" >-->
<!--        <form>-->
<!--            <label for="chk" aria-hidden="true">Login</label>-->
<!--            <input disabled type="email" name="email" placeholder="Email" required="">-->
<!--            <input disabled type="password" name="pswd" placeholder="Password" required="">-->
<!--            <button disabled>Login</button>-->
<!--        </form>-->
<!--    </div>-->
</div>

</html>