div.gallery img {
    width: 100%;
    height: auto;
}
.desc{
    text-align: center;
    padding: 15px;
}

div.gallery {
    border: 1px solid #ccc;
}
div.gallery:hover{
    border: 1px solid black;
}
