<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Login</h1>
    <h6 th:if="${#request.getParameter('error') == 'true'}" style="color: red">Sai account name hoac password</h6>
    <form th:action="@{/doLogin}" method="post">
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" name="accountname" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" /> </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
</body>
</html>