<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>Create new category</h4>
<p style="color: red" th:if="${message}" th:text="${message}"></p>
<a th:href="@{/category/list}">Back to category list</a>
<form th:action="@{/category/create}" method="post" th:object="${category}">
    <table>
        <tr>
            <th>Category Name</th>
            <td><input type="text" th:field="*{categoryName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create new category"></td>
        </tr>
    </table>
</form>
</body>
</html>