<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Product Management</title>

    <style type="text/css">
        h3 {
            background-color: bisque;
            color: white;
            padding: 10px 0 10px 20px;
        }

    </style>
</head>
<body>

<footer th:fragment="footer">
</footer>
</body>
</html>