<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .row{
            margin: 20px;
        }
    </style>
</head>
<body>
<h1>Smartphone List</h1>
<div class="row">
    <table class="col-6">
        <tr>
            <td>Producer</td>
            <td>Model</td>
            <td>Price</td>
            <td>Delete</td>
        </tr>
        <tbody id="smartphoneList">
        <tr th:each="smartphone: ${smartphones}">
            <td th:text="${smartphone.producer}"></td>
            <td th:text="${smartphone.model}"></td>
            <td th:text="${smartphone.price}"></td>
            <td><a class="deleteSmartphone" th:href="${smartphone.getId()}">Delete</a></td>
        </tr>
        </tbody>
    </table>

    <!--add new product-->
    <form id="add-smartphone" class="col-6">
        <table>
            <tr>
                <td>Producer:</td>
                <td><input type="text" id="producer" placeholder="producer"></td>
            </tr>
            <tr>
                <td>Model:</td>
                <td><input type="text" id="model" placeholder="model"></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" id="price" placeholder="price"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add" onclick="addNewSmartPhone()"></td>
            </tr>
        </table>
    </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    function getSmartphone(smartphone) {
        return `<tr>
                    <td>${smartphone.producer}</td>
                    <td>${smartphone.model}</td>
                    <td>${smartphone.price}</td>
                    <td><a class="deleteSmartphone" href="${smartphone.id}">Delete</a></td>
                </tr>`
    }

    let reference = (function successHandler() {
        $.ajax({
            type: "get",
            url: "http://localhost:8080/api/smart-phone/home",
            success: function (data) {
                let result = '';
                for (let i = 0; i < data.length; i++) {
                    result += getSmartphone(data[i]);
                }
                // $("#smartphoneList").html(result);
                document.getElementById('smartphoneList').innerHTML = result;
            }
        });
    })
    reference();//auto call reference
    function addNewSmartPhone() {
        //lay du lieu
        let producer = $('#producer').val();
        let model = $('#model').val();
        let price = $('#price').val();
        let newSmartphone = {
            producer: producer,
            model: model,
            price: price
        };
        // goi ajax
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            data: JSON.stringify(newSmartphone),
            //tên API
            url: "http://localhost:8080/api/smart-phone/add-new-smart-phone",
            //xử lý khi thành công
            success: console.log('success')
        });
        //chặn sự kiện mặc định của thẻ
        event.preventDefault();
    }

    $(document).ready(function () {
        //sư kiện nào thực hiện Ajax
        $('.deleteSmartphone').click(function (event) {
            //lay du lieu
            let a = $(this);
            let smartphoneId = a.attr("href");
            // goi ajax
            $.ajax({
                type: "DELETE",
                //tên API
                url: `http://localhost:8080/api/smart-phone/delete/${smartphoneId}`,
                //xử lý khi thành công
                success: function (data) {
                    a.parent().parent().remove();
                }

            });
            //chặn sự kiện mặc định của thẻ
            event.preventDefault();
        });
    })
    $(document).ready(function () {
        //sư kiện nào thực hiện Ajax
        $('.deleteSmartphone').click(function (event) {
            //lay du lieu
            let a = $(this);
            let smartphoneId = a.attr("href");
            // goi ajax
            $.ajax({
                type: "DELETE",
                //tên API
                url: `http://localhost:8080/api/smart-phone/delete/${smartphoneId}`,
                //xử lý khi thành công
                success: function (data) {
                    a.parent().parent().remove();
                }

            });
            //chặn sự kiện mặc định của thẻ
            event.preventDefault();
        });
    })



</script>
</html>